@model Endo.Web.Models.PatientModel
@using Endo.Web

@{
    ViewBag.Title = "Create Patient";
}

<h2>Create New Patient</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Patient</legend>
        @Html.HiddenFor(m => m.Id)

        <div class="editor-label">
            @Html.LabelFor(m => m.Mrn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Mrn)
            @Html.ValidationMessageFor(m => m.Mrn)
        </div>
            
        <div class="editor-label">
            @Html.LabelFor(m => m.Alias)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Alias)
            @Html.ValidationMessageFor(m => m.Alias)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.Dob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Dob)
            @Html.ValidationMessageFor(m => m.Dob)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Gender)
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.FirstVisitDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.FirstVisitDate)
            @Html.ValidationMessageFor(m => m.FirstVisitDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(m => m.Comment)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Comment)
            @Html.ValidationMessageFor(m => m.Comment)
        </div>

        <input type="submit" value="Create New Patient"/>
    </fieldset>
}
